[workspace]
resolver = "2"

members = [
    "datafusion-federation",
    "examples",
    "sources/sql",
    "sources/flight-sql",
]

[patch.crates-io]
# connectorx = { path = "../connector-x/connectorx" }
# datafusion = { path = "../arrow-datafusion/datafusion/core" }

[workspace.package]
version = "0.1.6"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"


[workspace.dependencies]
async-trait = "0.1.77"
async-stream = "0.3.5"
futures = "0.3.30"
datafusion = "42"
datafusion-substrait = "42"
arrow-json = "53"