[workspace]
resolver = "2"

members = [
    "datafusion-federation",
    "datafusion-flight-sql-server",
    "datafusion-flight-sql-table-provider",
]

[workspace.package]
version = "0.3.4"
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/datafusion-contrib/datafusion-federation"

[workspace.dependencies]
arrow = "53.3"
arrow-flight = { version = "53.3", features = ["flight-sql-experimental"] }
arrow-json = "54.0"
async-stream = "0.3.5"
async-trait = "0.1.83"
datafusion = "44.0.0"
datafusion-federation = { path = "./datafusion-federation", version = "0.3.4" }
datafusion-substrait = "44.0.0"
futures = "0.3.31"
tokio = { version = "1.41", features = ["full"] }
tonic = { version = "0.12", features = [
    "tls",
    "transport",
    "codegen",
    "prost",
] }
