name: Check

on: [push, pull_request]

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm install prettier prettier-plugin-toml
      - run: npx prettier --write --no-config .
